@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-heading-color: #005;
  --secondary-color: #252627;
  --background-dark-color: #10121a;
  --background-dark-grey: #191d2b;
  --border-color: #2e344e;
  --light-color: #f1f1f1;
  --light-color-2: rgba(3, 127, 255, 0.3);
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  background-color: var(--background-dark-color);
  color: var(--light-color);
  scroll-behavior: smooth;
}
.primary-heading-color {
  color: var(--primary-heading-color);
}
